---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Profile from '~/assets/images/Profile.avif';
import Hiqma from '~/assets/images/Portfolio-Hiqmauinjakarta.avif';
import Kargobekasi from '~/assets/images/Portfolio-kargobekasi.avif';
import Kargojambi from '~/assets/images/Portfolio-kargojambi.avif';
import Kargopekanbaru from '~/assets/images/Portfolio-kargopekanbaru.avif';
import { getBlogPermalink, getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Beranda',
  description: 'Halo, Selamat datang di website pribadi saya. Arrosyid Al-Ayubi',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Beranda', href: '/' },
        { text: 'Tentang Saya', href: '#tentang' },
        { text: 'Pengalaman', href: '#pengalaman' },
        { text: 'Portfolio', href: '#portfolio' },
        {text: 'Artikel',href: getBlogPermalink(),},
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero id="hero" title="Arrosyid Al-Ayubi" tagline="Website Pribadi">
    <Fragment slot="subtitle"> Halo, Selamat datang di website pribadi saya. </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="tentang"
    columns={4}
    items={[
      {
        icon: 'tabler:brand-instagram',
        callToAction: {
          target: '_blank',
          text: 'Instagram',
          href: 'https://www.instagram.com/arrosyid.a/',
        },
      },
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'Linkedin',
          href: 'https://www.linkedin.com/in/arrosyid-al-ayubi-b02521141/',
        },
      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'Github',
          href: 'https://github.com/Rearguard98/',
        },
      },
    ]}
    image={{
      src: Profile,
      alt: 'Arrosyid Al-Ayubi',
      loading: 'lazy',
      height: '500',
      width: '500',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Tentang Saya</h2>
      <p>
        Terima Kasih telah mengunjungi website saya. Perkenalkan saya Arrosyid Al-Ayubi. Telah lama berkecimpung di
        dunia website berbasis wordpress selama lebih 5 Tahun.
      </p>
      <br />
      <p>
        Saat ini saya sedang fokus dalam mempelajari pengembangan website Full-Stack menggunakan AstroJs, NextJs,
        ReactJs dan juga Python
      </p>
      <br />
      <p>Jika Anda ingin mengetahui kabar terbaru dari saya, Anda dapat mengikuti saya di sosial media berikut:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="pengalaman"
    title="Pengalaman Bekerja"
    items={[
      {
        title:
          'Wordpress Developer <br /> <span class="font-normal">PT Paket Insan Kargo, Tangerang </span> <br /> <span class="text-sm font-normal">2024</span>',
        description: `Mendesain halaman website kargopekanbaru.com. <br /> Membuat 300 halaman untuk website kargopekanbaru.com <br /> Mendisain website kargojambi.com <br /> Mengatur SEO (Search Engine Optimization) pada website kargopekanbaru.com dan kargojambi.com.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <Features3
    title="Keterampilan"
    subtitle=""
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Desain Grafis',
        description: 'Mahir dalam membuat desain yang menarik secara visual yang menyampaikan pesan secara efektif.',
        icon: 'tabler:vector-bezier',
      },
      {
        title: 'Branding dan identitas',
        description: 'Terampil dalam mengembangkan identitas merek yang kohesif, termasuk logo dan pedoman merek.',
        icon: 'tabler:brand-auth0',
      },
      {
        title: 'Desain yang berpusat pada pengguna',
        description:
          'Berpengalaman dalam menciptakan antarmuka yang ramah pengguna dan mengoptimalkan pengalaman pengguna.',
        icon: 'tabler:user',
      },
      {
        title: 'Adobe Creative Suite',
        description:
          'Terampil dalam menggunakan Photoshop, Illustrator, dan InDesign untuk membuat dan mengedit elemen visual.',
        icon: 'tabler:brand-adobe',
      },
      {
        title: 'Tipografi',
        description: 'Mahir dalam memilih dan memanipulasi tipografi untuk meningkatkan estetika desain.',
        icon: 'tabler:typography',
      },
      {
        title: 'Pengembangan Wordpress',
        description: '5 Tahun berpengalaman dalam pembuatan website berbasis wordpress.',
        icon: 'tabler:brand-wordpress',
      },
      {
        title: 'Desain cetak dan digital',
        description: 'Berpengetahuan luas dalam merancang untuk bahan cetak dan platform digital.',
        icon: 'tabler:printer',
      },
      {
        title: 'Perhatian terhadap detail',
        description: 'Menjaga ketepatan dan kualitas dalam semua pekerjaan desain.',
        icon: 'tabler:eye-search',
      },
      {
        title: 'Mudah beradaptasi',
        description: 'Cepat beradaptasi dengan tren desain, teknologi, dan preferensi baru.',
        icon: 'tabler:transform',
      },
    ]}
  />

  <!-- portfolio hiqmauinjakarta **************** -->

  <Content
    id="portfolio"
    title="Portfolio"
    subtitle="Berikut adalah proyek-proyek yang telah saya kerjakan."
    isReversed
    items={[
      {
        title: 'Deskripsi',
        description:
          'Pembuatan website Unit Kegiatan Mahasiswa Himpunan Qori dan Qoriah Mahasiswa Universitas Islam Negri Syarif Hidayatullah Jakarta.',
        icon: 'tabler:file-description',
      },
      {
        title: 'Klien:',
        description: 'HIQMA UIN Jakarta',
        icon: 'tabler:user-star',
      },
    ]}
    image={{
      src: Hiqma,
      alt: 'Portfolio proyek website HIQMA UIN Jakarta',
      loading: 'lazy',
    }}
    callToAction={{
      target: '_blank',
      text: 'Link Website',
      icon: 'tabler:chevron-right',
      href: 'https://hiqmauinjakarta.com',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Proyek 1: <br /><span class="text-2xl">Pembuatan Website HIQMA</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- portfolio kargopekanbaru **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Deskripsi:',
        description:
          'Manajemen konten dan halaman untuk website kargo pekanbaru yang bergerak di bidang pengiriman kargo barang ke seluruh daerah di Indonesia.',
        icon: 'tabler:file-description',
      },
      {
        title: 'Klien:',
        description: `PT Paket Insan Kargo.`,
        icon: 'tabler:user-star',
      },
    ]}
    image={{
      src: Kargopekanbaru,
      alt: 'Portfolio Kargopekanbaru',
      loading: 'lazy',
    }}
    callToAction={{
      target: '_blank',
      text: 'Link Website',
      icon: 'tabler:chevron-right',
      href: 'https://kargopekanbaru.com',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Proyek 2: <br /><span class="text-2xl">Manajemen Halaman Website Kargo Pekanbaru</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- portfolio kargojambi **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Deskripsi:',
        description: `Manajemen konten dan halaman untuk website kargo pekanbaru yang bergerak di bidang pengiriman kargo barang ke seluruh daerah di Indonesia.`,
        icon: 'tabler:file-description',
      },
      {
        title: 'Klien:',
        description: `PT Paket Insan Kargo.`,
        icon: 'tabler:user-star',
      },
    ]}
    image={{
      src: Kargojambi,
      alt: 'Portfolio Kargojambi',
      loading: 'lazy',
    }}
    callToAction={{
      target: '_blank',
      text: 'Lihat Website',
      icon: 'tabler:chevron-right',
      href: 'https://kargojambi.com',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Proyek 3: <br /><span class="text-2xl">Manajemen Halaman Website Kargo Jambi</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- portfolio kargobekasi **************** -->
  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Deskripsi:',
        description: `Mendesain ulang halaman untuk website kargo bekasi yang bergerak di bidang pengiriman kargo barang ke seluruh daerah di Indonesia.`,
        icon: 'tabler:file-description',
      },
      {
        title: 'Klien:',
        description: `PT Paket Insan Kargo.`,
        icon: 'tabler:user-star',
      },
    ]}
    image={{
      src: Kargobekasi,
      alt: 'Portfolio Kargobekasi',
      loading: 'lazy',
    }}
    callToAction={{
      target: '_blank',
      text: 'Lihat Website',
      icon: 'tabler:chevron-right',
      href: 'https://kargobekasi.com',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Proyek 4: <br /><span class="text-2xl">Desain Ulang Halaman Website Kargo Bekasi</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Artikel **************** -->

  <BlogLatestPosts id="blog" title="Artikel" information={`Artikel terbaru saya.`}>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
